server.port: 5555

# to be set from the command line
mqtt.broker:
  url:
  user:
  password:

spring:
  datasource:
    url: jdbc:hsqldb:file:~/hsqldb/weather/weather
    username: sa
    password:
    min-idle: 0
    max-idle: 2
    max-active: 10
    test-on-borrow: true
    validation-query: SELECT 1
  jpa.hibernate.ddl-auto: update
  jpa.properties.hibernate.dialect: org.hibernate.dialect.HSQLDialect
  mail:
    host: smtp.gmail.com
    port: 587
    username:  # to be set on the command line
    password:  # to be set on the command line
    properties.mail.smtp:
      auth: true
      starttls.enable: true



# to be set from the command line
basicAuth:
  user:
  pssword:
alertEmail:

logging:
  level:
    ROOT: INFO
    de.mg.wather.server: INFO