apiVersion: v1
kind: Secret
metadata:
  name: weather-secrets
type: Opaque
stringData:
  BASICAUTH_USER: weather
  BASICAUTH_PW: 
  MAIL_USER: @googlemail.com 
  MAIL_PW: 
  MAIL_ALERT_MAIL: @trali.de 
  BROKER_USER: 
  BROKER_PW: 

